<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Bahadır Saygılı" />
    <meta
      name="description"
      content="Bahadır Saygılı's personal portfolio site."
    />
    <meta
      name="keywords"
      content="portfolio, Front-end, web development, React, JavaScript"
    />
    <title>Bahadır Saygılı - About Me</title>
  </head>

  <section class="about section" id="about">
    <h2 class="section__title">About Me</h2>
    <span class="section__subtitle">My introduction</span>
    <div class="about__container container grid">
      <img
        src="assets/images/profile/profile-pic (1).png"
        alt=""
        class="about__img"
      />
      <div class="about__data">
        <p class="about__description">
          Web developer with extensive knowledge, working in web technologies
          design and delivering quality work. And also I graduated from
          Industrial Engineering department of Turkish National Defense
          University. When I realize that software makes me exciting which has
          similarities with my department, I decided to give a chance myself.
          So, here i am. Below you can see the skills what i can offer. I'm also
          currently looking for my next development position, don't hesitate to
          reach out if you want to talk!
        </p>
        <div class="about__info">
          <div>
            <span id="experience_year" class="about__info-title"></span>
            <span class="about__info-name"
              >Year <br />
              experience</span
            >
          </div>
          <div>
            <span class="about__info-title">3+</span>
            <span class="about__info-name"
              >Completed <br />
              projects</span
            >
          </div>
          <div>
            <span class="about__info-title">02+</span>
            <span class="about__info-name"
              >Companies <br />
              worked</span
            >
          </div>
        </div>
        <div class="about__buttons">
          <a
            download=""
            href="assets/pdf/bahadir_saygili_fe_developer.pdf"
            class="button button--flex about__button"
          >
            Download CV (en)
            <i class="uil uil-file-download button__icon"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</html>
