<footer class="footer">
  <div class="footer__bg">
    <div class="footer__container container grid">
      <div>
        <h1 class="footer__title">Bahadır</h1>
        <span class="footer__subtitle">Front-end Developer</span>
      </div>

      <ul class="footer__links">
        <li>
          <a href="#services" class="footer__link">Services</a>
        </li>
        <li>
          <a href="#portfolio" class="footer__link">Portfolio</a>
        </li>
        <li>
          <a href="#contact" class="footer__link">Contact Me</a>
        </li>
      </ul>
      <div class="footer__socials">
        <a
          href="https://www.facebook.com/profile.php?id=100005602485109"
          target="_blank"
          class="footer__social"
          rel="noopener"
          title="facebook_link"
        >
          <i class="uil uil-facebook-f"></i>
        </a>
        <a
          href="https://www.instagram.com/bhdrsaygili/"
          target="_blank"
          class="footer__social"
          rel="noopener"
          title="instagram_link"
        >
          <i class="uil uil-instagram"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/bahadir-saygili/"
          target="_blank"
          class="footer__social"
          rel="noopener"
          title="linkedin_link"
        >
          <i class="uil uil-linkedin"></i>
        </a>
        <a
          href="https://github.com/bsaygili"
          target="_blank"
          class="footer__social"
          rel="noopener"
          title="github_link"
        >
          <i class="uil uil-github"></i>
        </a>
      </div>
    </div>
    <p class="footer__copy">
      &#169; bahadırsaygili. All rights reserved.
      <a
        class="footer__copy"
        href="https://www.termsfeed.com/live/1c78de81-6a55-44f4-be13-5cc8a60db1b5"
        target="_blank"
        rel="noopener"
      >
        Privacy Policy
      </a>
    </p>
  </div>
</footer>
