<section class="project section">
  <div class="project__bg">
    <div class="project__container container grid">
      <div class="project__data">
        <h2 class="project__title">You have a new project.</h2>
        <p class="project__description">Let's make it happen.</p>
        <a href="#contact" class="button button--flex button--white">
          Contact Me
          <i class="uil uil-message project__icon button__icon"></i>
        </a>
      </div>
      <img
        src="/assets/images/profile/project-1.png"
        alt="By CrisNYCa - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=94532194"
        class="project__img"
      />
    </div>
  </div>
</section>
