<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Bahadır Saygılı" />
    <meta
      name="description"
      content="Bahadır Saygılı's personal portfolio site."
    />
    <meta
      name="keywords"
      content="portfolio, Front-end, web development, React, JavaScript"
    />

    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favico/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favico/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favico/favicon-16x16.png"
    />

    <!-- IconScout Icons Pack -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- Style.css -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />

    <title>Bahadır Saygılı</title>
  </head>
  <section class="home section" id="home">
    <div class="home__container container grid">
      <div class="home__content grid">
        <div class="home__social grid">
          <a
            href="https://www.linkedin.com/in/bahadir-saygili/"
            target="_blank"
            class="home__social-icon"
            rel="noopener"
            title="linkedin"
            ><i class="uil uil-linkedin"></i
          ></a>
          <a
            href="https://github.com/bsaygili"
            class="home__social-icon"
            target="_blank"
            rel="noopener"
            title="github"
            ><i class="uil uil-github"></i
          ></a>
        </div>
        <div class="home__img">
          <svg
            class="home__blob"
            viewBox="0 0 200 200"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask id="mask0" mask-type="alpha">
              <path
                fill="#8A3FFC"
                d="M50.4,-47C65.9,-34.9,79.4,-17.4,76.5,-2.9C73.6,11.7,54.3,23.3,38.8,31.3C23.3,39.3,11.7,43.7,0.5,43.2C-10.6,42.7,-21.2,37.2,-27.8,29.2C-34.4,21.2,-37,10.6,-41.1,-4.1C-45.3,-18.9,-51,-37.8,-44.4,-49.9C-37.8,-62,-18.9,-67.4,-0.7,-66.7C17.4,-66,34.9,-59.2,50.4,-47Z"
                transform="translate(100 100)"
              />
            </mask>
            <g mask="url(#mask0)">
              <path
                d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                    165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                    129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                    -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
              />
              <image
                class="home__blob-img"
                x="38"
                y="15"
                href="assets/images/profile/profilpic-rbg.png"
              />
            </g>
          </svg>
        </div>
        <div class="home__data">
          <h1 class="home__title">
            Hi, I am
            <span
              class="text-rotate"
              data-period="200"
              data-rotate='[ "Bahadır.", "a Front-end Developer.", "an Industrial Engineer." ]'
            >
            </span>
          </h1>
          <h3 class="home__subtitle">Front-end Developer</h3>
          <p class="home__description">
            High level experience development knowledge, producing quality work.
          </p>
          <a href="#contact" class="button button--flex">
            Contact Me <i class="uil uil-message button__icon"></i
          ></a>
        </div>
      </div>
      <div class="home__scroll">
        <a href="#about" class="home__scroll-button button--flex"
          ><i class="uil uil-mouse-alt-2 home__scroll-mouse"></i>
          <span class="home__scroll-name">Scroll down</span>
          <i class="uil uil-arrow-down home__scroll-arrow"></i
        ></a>
      </div>
    </div>
  </section>
</html>
