<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Bahadır Saygılı" />
    <meta
      name="description"
      content="Bahadır Saygılı's personal portfolio site."
    />
    <meta
      name="keywords"
      content="portfolio, Front-end, web development, React, JavaScript"
    />

    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favico/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favico/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favico/favicon-16x16.png"
    />

    <!-- IconScout Icons Pack -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- Style.css -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />

    <title>Bahadır Saygılı</title>
  </head>
  <section class="services section" id="services">
    <h2 class="section__title">Services</h2>
    <span class="section__subtitle">What i offer?</span>
    <div class="services__container container grid">
      <!-- SERVICES 01 -->
      <div class="services__content">
        <div>
          <i class="uil uil-arrow services__icon"></i>
          <h3 class="services__title">
            Front-end <br />
            Developer
          </h3>
        </div>
        <span
          class="button button--flex button--small button--link services__button"
          >View more <i class="uil uil-angle-double-right button__icon"></i
        ></span>
        <div class="services__modal">
          <div class="services__modal-content">
            <h4 class="services__modal-title">
              Front-end <br />
              Developer
            </h4>
            <i class="uil uil-times services__modal-close"></i>
            <ul class="services__modal-services grid">
              <li class="services__modal-service">
                <i class="uil uil-check services__modal-icon"></i>
                <p>Optimize applications for maximum speed.</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check services__modal-icon"></i>
                <p>Design mobile-based features.</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check services__modal-icon"></i>
                <p>
                  Collaborate with back-end developers and web designers to
                  improve usability.
                </p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check services__modal-icon"></i>
                <p>Stay up-to-date on emerging technologies.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- SERVICES 02 -->
      <div class="services__content">
        <div>
          <i class="uil uil-head-side services__icon"></i>
          <h3 class="services__title">
            Industrial <br />
            Engineering
          </h3>
        </div>
        <span
          class="button button--flex button--small button--link services__button"
          >View more <i class="uil uil-angle-double-right button__icon"></i
        ></span>
        <div class="services__modal">
          <div class="services__modal-content">
            <h4 class="services__modal-title">
              Industrial <br />
              Engineering
            </h4>
            <i class="uil uil-times services__modal-close"></i>
            <ul class="services__modal-services grid">
              <li class="services__modal-service">
                <i class="uil uil-check services__modal-icon"></i>
                <p>Having assimilated the concept of CRM, prone to teamwork</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check services__modal-icon"></i>
                <p>
                  High Communication Skills, result oriented and problem solving
                  ability
                </p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check services__modal-icon"></i>
                <p>
                  Having the ability to use computers and programs, read
                  technical drawings, prepare and present presentations
                </p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check services__modal-icon"></i>
                <p>Basic AutoCad knowledge (can be developed)</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- swipper.js -->
  <script src="/assets/js/swiper-bundle.min.js"></script>
  <!-- main.js -->
  <script src="/assets/js/main.js"></script>
</html>
