<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Bahadır Saygılı" />
    <meta
      name="description"
      content="Bahadır Saygılı's personal portfolio site."
    />
    <meta
      name="keywords"
      content="portfolio, Front-end, web development, React, JavaScript"
    />

    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favico/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favico/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favico/favicon-16x16.png"
    />

    <!-- IconScout Icons Pack -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- Style.css -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />

    <title>Bahadır Saygılı</title>
  </head>
  <section class="portfolio section" id="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent works</span>
    <div class="portfolio__container container swiper">
      <div class="swiper-wrapper">
        <!-- PORTFOLIO 1 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/budgettracker.png"
            alt="Budget Tracker"
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">Budget Tracker App</h3>
            <p class="portfolio__description">
              This app let you track your budget. <br />
              Built with: <br />
              React, React-Context, MongoDb
            </p>
            <a
              href="https://github.com/bsaygili/budget-tracker-app"
              target="_blank"
              class="button button--flex button--small portfolio__button"
              rel="noopener"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
          </div>
        </div>
        <!-- PORTFOLIO 2 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/ihmg-health-company.png"
            alt="IHMG Website"
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">IHMG Health Co.</h3>
            <p class="portfolio__description">
              This website for health company and includes videos for
              background. It has about, projects, solutions sections.
              <br />Built with: <br />
              React, JavaScript, HTML, CSS
            </p>
            <a
              href="#"
              class="button button--flex button--small portfolio__button"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
          </div>
        </div>
        <!-- PORTFOLIO 3 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/stream-app.gif"
            alt="Stream-Live App"
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">Gamer Broadcast App</h3>
            <p class="portfolio__description">
              It is a live broadcast application. Users can regiser with google
              account. Registered users can watch stream or open to live stream.
              Besides users can add, edit or delete their streams. <br />
              Built with: <br />
              React, React-Redux, HTML, JavaScript, Semantic-UI, OBS (Open
              Broadcaster Software), Google Auth.
            </p>
            <a
              href="https://github.com/bsaygili/broad_cast-app"
              class="button button--flex button--small portfolio__button"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
          </div>
        </div>
        <!-- PORTFOLIO 4 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/search-video-app.png"
            alt="Youtube Video Search App"
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">Video Search on Youtube</h3>
            <p class="portfolio__description">
              Website adaptable to all devices. A tinny application for
              searching videos on youtube. This app let you look for videos and
              to list that has five items. Vidoes come from youtube and also you
              can watch, play or pause it. <br />
              Built with: <br />
              HTML, CSS, Javascript, React, React-Hooks, Semantic-UI,
              Youtube-Api.
            </p>
            <a
              href="https://github.com/bsaygili/youtube-search-react-app"
              class="button button--flex button--small portfolio__button"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
            <a
              href="https://searchvideoonyt.netlify.app/"
              target="_blank"
              class="button button--flex button--small portfolio__button"
              rel="noopener"
              >Live Demo<i class="uil uil-globe button__icon"></i
            ></a>
          </div>
        </div>
        <!-- PORTFOLIO 5 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/search-images-app.png"
            alt="Search Images"
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">Image Search on unsplash.com</h3>
            <p class="portfolio__description">
              A little application for searching pictures on unsplash.com. This
              app let you look for pictures and to list that has ten items.
              Images come from unsplash. <br />
              Built with: <br />
              HTML, CSS, Javascript, React, Semantic-UI, unsplash-api.
            </p>
            <a
              href="https://github.com/bsaygili/search-images-app"
              target="_blank"
              class="button button--flex button--small portfolio__button"
              rel="noopener"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
            <a
              href="https://imagesearchunsplash.netlify.app/"
              target="_blank"
              class="button button--flex button--small portfolio__button"
              rel="noopener"
              >Live Demo<i class="uil uil-globe button__icon"></i
            ></a>
          </div>
        </div>
        <!-- PORTFOLIO 6 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/cyber-security-dashboard.png"
            alt="Wallids Cyber Security"
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">
              DashBoard - Cyber Securtiy Admin Panel
            </h3>
            <p class="portfolio__description">
              A dashboard is for admin who tracks cyber attacks from unknown
              sources. User can easily understand data from graphics and can be
              classified according to their security level. <br />
              Built with: <br />
              React, Material-UI, ReactCharts, Javascript, HTML, CSS.
            </p>
            <a
              href="https://github.com/bsaygili/wallids-dashboard"
              class="button button--flex button--small portfolio__button"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
          </div>
        </div>
        <!-- PORTFOLIO 7 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/weather-forecast-extension.png"
            alt="Weather Forecast Extension"
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">
              Chrome Extension: Daily Weather Forecast
            </h3>
            <p class="portfolio__description">
              I developed a Chrome extension. It shows the daily weather
              conditions according to the entered city name. I had a lot of fun
              coding. <br />
              Built with: <br />Javascript, HTML, CSS, OpenWeatherMap Api
            </p>
            <a
              href="https://github.com/bsaygili/weather-forecast-chrome-extensions"
              class="button button--flex button--small portfolio__button"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
          </div>
        </div>
        <!-- PORTFOLIO 8 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/weather-forecast.png"
            alt="Weather Forecast"
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">Daily Weather Forecast</h3>
            <p class="portfolio__description">
              I developed a weather forecast application. It shows the daily
              weather conditions according to the entered city name. <br />
              Built with: <br />React, Javascript, HTML, CSS, OpenWeatherMap Api
            </p>
            <a
              href="https://github.com/bsaygili/weather-forecast-app"
              class="button button--flex button--small portfolio__button"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
            <a
              href="https://dailyweatherforecast.netlify.app/"
              target="_blank"
              class="button button--flex button--small portfolio__button"
              rel="noopener"
              >Live Demo<i class="uil uil-globe button__icon"></i
            ></a>
          </div>
        </div>
        <!-- PORTFOLIO 9 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/starbucks-clone-css.png"
            alt="Starbucks Clone"
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">Starbuks CSS Clone</h3>
            <p class="portfolio__description">
              In this project, i try to develop my responsive design and CSS
              habits. Firstly, i watch tutorials and than close it. So, i am
              coding myself entire project.
              <br />
              Built with: <br />Javascript, HTML, CSS.
            </p>
            <a
              href="https://github.com/bsaygili/starbucks-clone"
              class="button button--flex button--small portfolio__button"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
          </div>
        </div>
        <!-- PORTFOLIO 10 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/qr-code-genarator.png"
            alt="QR Code Generator"
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">QR Code Generator</h3>
            <p class="portfolio__description">
              In this project, user enter text or URL. And application convert
              QR Code using qr Code generator api. Very basic application but it
              helps me to how to access api or to handle api-request without
              axios. Bonus: i build extension which is usable from
              github(download extension-pack). Enjoy it! <br />
              Built with: <br />React, javascript, HTML, CSS,
            </p>
            <a
              href="https://github.com/bsaygili/qrCode-generator-app_and_extension"
              class="button button--flex button--small portfolio__button"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
          </div>
        </div>
        <!-- PORTFOLIO 1 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/home-library.png"
            alt="My Home Library"
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">My Home Library</h3>
            <p class="portfolio__description">
              this project shows a Library to user and makes a get-request from
              example-data API. On the oher hand this app allows to user add or
              remove books to/from favorites list. <br />
              Built with: <br />React, axios, javascript, HTML, CSS,
            </p>
            <a
              href="https://github.com/bsaygili/home-library-app"
              class="button button--flex button--small portfolio__button"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
          </div>
        </div>
        <!-- PORTFOLIO 12 -->
        <div class="portfolio__content grid swiper-slide">
          <img
            src="assets/images/portfolio/portfolio-3.jfif"
            alt=""
            class="portfolio__img"
          />
          <!-- buraya resim gelecek -->
          <div class="portfolio__data">
            <h3 class="portfolio__title">E-commerce Website</h3>
            <p class="portfolio__description">
              Website adaptable to all devices, with ui components and animated
              interactions
            </p>
            <a
              href="#"
              class="button button--flex button--small portfolio__button"
              >Github<i class="uil uil-github button__icon"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="swiper-button-next">
        <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
      </div>
      <div class="swiper-button-prev">
        <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <!-- swipper.js -->
  <script src="/assets/js/swiper-bundle.min.js"></script>
  <!-- main.js -->
  <script src="/assets/js/main.js"></script>
</html>
