<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Bahadır Saygılı" />
    <meta
      name="description"
      content="Bahadır Saygılı's personal portfolio site."
    />
    <meta
      name="keywords"
      content="portfolio, Front-end, web development, React, JavaScript"
    />

    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favico/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favico/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favico/favicon-16x16.png"
    />

    <!-- IconScout Icons Pack -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- Style.css -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />

    <title>Bahadır Saygılı</title>
  </head>
  <section class="section qualification">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">My personel journey</span>
    <div class="qualification__container container">
      <div class="qualification__tabs">
        <div
          class="qualification__button button--flex qualification__active"
          data-target="#education"
        >
          <i class="uil uil-graduation-cap qualification__icon"></i>
          Education
        </div>
        <div class="qualification__button button--flex" data-target="#work">
          <i class="uil uil-suitcase qualification__icon"></i>
          Work
        </div>
      </div>
      <div class="qualification__sections">
        <!-- QUALIFICATION CONTENT 2 -->
        <div
          class="qualification__content qualification__active"
          data-content
          id="work"
        >
          <!-- QUALIFICATION 1 -->
          <div class="qualification__data">
            <div></div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
            <div>
              <h3 class="qualification__title">Front-end Developer</h3>
              <span class="qualification__subtitle">Frumatic - Monaco</span>
              <div class="qualification__calender">
                <i class="uil uil-calendar-alt"></i> 2022-Present
              </div>
            </div>
          </div>
          <!-- QUALIFICATION 2 -->
          <div class="qualification__data">
            <div></div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
            <div>
              <h3 class="qualification__title">
                Freelance Front-end Developer
              </h3>
              <span class="qualification__subtitle">Fanus Media - İzmir</span>
              <div class="qualification__calender">
                <i class="uil uil-calendar-alt"></i> 2021-2022
              </div>
            </div>
          </div>
          <!-- QUALIFICATION 3 -->
          <div class="qualification__data">
            <div></div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>

            <div>
              <h3 class="qualification__title">
                Planning and Production Engineer
              </h3>
              <span class="qualification__subtitle"
                >Balçık Heating Elements - Ankara</span
              >
              <div class="qualification__calender">
                <i class="uil uil-calendar-alt"></i> 2018-2022
              </div>
            </div>
          </div>
          <!-- QUALIFICATION 4 -->
          <div class="qualification__data">
            <div></div>
            <div>
              <span class="qualification__rounder"></span>
              <!-- <span class="qualification__line"></span> -->
            </div>

            <div>
              <h3 class="qualification__title">Interceptor Controller</h3>
              <span class="qualification__subtitle"
                >Turkish Air Force - Konya</span
              >
              <div class="qualification__calender">
                <i class="uil uil-calendar-alt"></i> 2014-2018
              </div>
            </div>
          </div>
        </div>
        <!-- QUALIFICATION CONTENT 1 -->
        <div
          class="qualification__content qualification__active"
          data-content
          id="education"
        >
          <!-- QUALIFICATION 1 -->
          <div class="qualification__data">
            <div>
              <h3 class="qualification__title">Vocational School of Justice</h3>
              <span class="qualification__subtitle"
                ><i class="uil uil-balance-scale"></i>Anadol University -
                Eskişehir
              </span>
              <div class="qualification__calender">
                <i class="uil uil-calendar-alt"></i> 2014-2018
              </div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>
          <!-- QUALIFICATION 2 -->
          <div class="qualification__data">
            <div>
              <h3 class="qualification__title">Industrial Engineer</h3>
              <span class="qualification__subtitle"
                ><i class="uil uil-plane"></i> Air Force Academy -
                İstanbul</span
              >
              <div class="qualification__calender">
                <i class="uil uil-calendar-alt"></i> 2010-2014
              </div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>
          <!-- QUALIFICATION 3 -->
          <div class="qualification__data">
            <div>
              <h3 class="qualification__title">High School</h3>
              <span class="qualification__subtitle"
                ><i class="uil uil-fire"></i> Işıklar Military High School -
                Bursa</span
              >
              <div class="qualification__calender">
                <i class="uil uil-calendar-alt"></i> 2006-2010
              </div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- swipper.js -->
  <script src="/assets/js/swiper-bundle.min.js"></script>
  <!-- main.js -->
  <script src="/assets/js/main.js"></script>
</html>
