<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Bahadır Saygılı" />
    <meta
      name="description"
      content="Bahadır Saygılı's personal portfolio site."
    />
    <meta
      name="keywords"
      content="portfolio, Front-end, web development, React, JavaScript"
    />

    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favico/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favico/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favico/favicon-16x16.png"
    />

    <!-- IconScout Icons Pack -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- Style.css -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />

    <title>Bahadır Saygılı</title>
  </head>
  <section class="skilss section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">My technical level</span>
    <div class="skills__container container grid">
      <div>
        <!-- skill01 -->
        <div class="skills__content skills__open">
          <div class="skills__header">
            <i class="uil uil-brackets-curly skills__icon"></i>
            <div>
              <h1 class="skills__title">Front-end Developer</h1>
              <span class="skills__subtitle">More than 4 year</span>
            </div>
            <i class="uil uil-angle-double-down skills__arrow"></i>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">HTML</h3>
                <span class="skills__number">90%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__html"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">CSS</h3>
                <span class="skills__number">90%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__css"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">JavaScript</h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__js"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">ReactJs</h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__react"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">VueJs</h3>
                <span class="skills__number">65%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__vue"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- skill02 -->
        <div class="skills__content skills__close">
          <div class="skills__header">
            <i class="uil uil-brain skills__icon"></i>
            <div>
              <h1 class="skills__title">Industrial Engineer</h1>
              <span class="skills__subtitle">More than 3.5 year</span>
            </div>
            <i class="uil uil-angle-double-down skills__arrow"></i>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Planning</h3>
                <span class="skills__number">90%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__planning"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Production</h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__production"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Staff Management</h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__staff"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Leadership</h3>
                <span class="skills__number">90%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__leadership"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- swipper.js -->
  <script src="/assets/js/swiper-bundle.min.js"></script>
  <!-- main.js -->
  <script src="/assets/js/main.js"></script>
</html>
